* {
	background-color: #1e1e1e;
	color: white;
	text-align: center;
	user-select: none;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

div h1 {
	padding: 50px;
	line-height: 50px;
}

placeholder {
	padding: 10px;
	visibility: hidden;
}

but {
	position: absolute;
	bottom: 150px;
	padding: 10px;
	background-color: white;
	color: black;
	border-color: black;
	border-radius: 10px;
	transition: all 0.1s ease;
}

but:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

@media screen and (orientation: landscape) {
	but {
		bottom: 30px;
	}
}
