* {
	background-color: #1e1e1e;
	color: white;
	text-align: center;
	user-select: none;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

div h1 {
	margin: 50px;
	padding: 30px;
	line-height: 50px;
	box-shadow: white 0px 0px 5px 0px;
}

button {
	position: absolute;
	bottom: 50px;
	padding: 10px;
	background-color: white;
	color: black;
	border-color: black;
	border-radius: 10px;
	transition: all 0.2s ease;
}

button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

/* @media screen and (orientation: landscape) {
	button {
		bottom: 30px;
	}
} */
