* {
	background-color: #1e1e1e;
	color: white;
	text-align: center;
	user-select: none;
	margin: 0;
	padding: 0;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	display: flex;
	justify-content: center;
}

#mobile-view {
	display: none;
}

#question-viewer {
	overflow: hidden;
	width: 750px;
	height: 200px;
	box-shadow: white 0px 0px 5px 1px;
}

#question-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	bottom: 0px;
	transition: all 0.4s;
}

.question {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 750px;
	height: 200px;
	line-height: 50px;
}

button {
	position: absolute;
	bottom: 0px;
	padding: 10px;
	background-color: white;
	color: black;
	border-color: black;
	border-radius: 10px;
	transition: all 0.2s ease;
}

button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

@media screen and (orientation: portrait) {
	#mobile-view {
		display: block;
	}

	#question-viewer {
		display: none;
	}

	button {
		display: none;
	}
}
